.viewport {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 228, 233);
}

.perspectiveDiv {
  transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
    skewX(-48deg) skewY(22deg) scaleX(2) scale(0.5421875) rotate(var(--rotate))
    translateZ(0);
  --rotate: -15deg;
  --x: 0px;
  --y: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid red;

  height: 3000px;
  width: 3000px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: introAnimation 2s;
  animation-delay: 1.5s;

  background-image: url(../../assets/images/pexels-photo-white.png);
  background-repeat: no-repeat;
  background-size: auto;
  filter: blur(0);

  box-shadow: inset -731px -72px 2578px 447px rgba(0, 0, 0, 0.27),
    inset -731px -72px 2578px 447px rgba(255, 255, 255, 0.654);

  filter: drop-shadow();
}

.text {
  font-family: "Montserrat";
  color: #5781a7;
  font-size: 2rem;
  display: flex;
  position: fixed;
  top: 300px;
  left: 300px;
  gap: 70px;

  /* font-weight: 200;
  opacity: 1;
  transition: 0.3s;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;

  background-image: linear-gradient(135deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(225deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(45deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(315deg, #f3f9ff 25%, #ffffff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat; */
}

.ajedrez {
  display: flex;
  flex-direction: column;

  gap: 50px;
  height: 400px;
  border-radius: 50px;
  box-shadow: inset -70px -72px 166px -23px rgba(0, 0, 0, 0.27);
}

.projectButton {
  height: 400px;
  width: 400px;
  border-radius: 50px;

  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);

  box-shadow: 30px 30px 60px 0 rgba(0, 0, 0, 0.462);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
  box-shadow: 30px 30px 60px 0 rgba(0, 13, 34, 0.603);
}

.ajedrez:hover ~ .text {
  transform: translateX(-20px) translateY(-20px);
  opacity: 1;
}

.mainContainer {
  display: flex;
  gap: 100px;
}

.sideButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 350px; */
  align-self: flex-end;
  gap: 70px;
  background-color: white;
  box-shadow: 30px 30px 60px 0 rgba(0, 0, 0, 0.322);
  border-radius: 100px;
  padding: 30px;
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(135deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(225deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(45deg, #f3f9ff 25%, transparent 25%),
    linear-gradient(315deg, #f3f9ff 25%, #ffffff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  box-shadow: inset -22px 2px 99px -16px rgba(0, 0, 0, 0.17),
    30px 30px 60px 0 rgba(0, 13, 34, 0.38);
}

.sideButton {
  transition: 0.3s;
  padding: 0px;
  border-radius: 30px;
  border: none;
  background-color: transparent;

  border-radius: 100%;
}

.icon {
  height: 70px;
  transition: 0.3s;
  border-radius: 100%;
}

.backgroundImg {
  position: fixed;
  z-index: -100;
  object-fit: cover;
  height: 400px;
  border-radius: 50px;
  filter: brightness(1.2);

  transition: 0.3s;
}

.logo {
  height: 150px;
  transition: 0.3s;
}

.ajedrez:hover > .projectButton {
  cursor: pointer;

  box-shadow: 60px 60px 120px 0 rgba(1, 27, 56, 0.616);
  transform: translateX(-20px) translateY(-20px);
}

.ajedrez:hover {
  box-shadow: 00px 00px 0px 0 rgba(0, 0, 0, 0);
}

.splashScreen {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  animation: splashScreenAnimation 2s;
}

.splashScreenLogo {
  height: 200px;
  opacity: 0;
  animation: logoAnimation 2s;
  /* animation-delay: 0.8s; */
}

.icon:hover {
  cursor: pointer;

  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.24);
  transform: translateX(-10px) translateY(-10px);
}

@keyframes introAnimation {
  from {
    transform: translate(calc(-55% + var(--x)), calc(-55% + var(--y)))
      skewX(-48deg) skewY(22deg) scaleX(2) scale(0.5421875) rotate(-20deg)
      translateZ(0);
    --rotate: -15deg;
    opacity: 0;
    filter: blur(40px);
  }
  to {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
      skewX(-48deg) skewY(22deg) scaleX(2) scale(0.5421875)
      rotate(var(--rotate)) translateZ(0);
    --rotate: -15deg;
    --x: 0px;
    --y: 0px;
    filter: blur(0);
  }
}

@keyframes splashScreenAnimation {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
